.header {
  max-width: 920px;
  margin: auto;
  h1 {
    margin-top: 1em;
  }
}
.noImage {
  width: 160px;
  height: 160px;
  background-color: #eee;
}
.main {
  max-width: 920px;
  margin: 0 auto;
  article img {
    max-width: 100%;
  }
  .list {
    li {
      list-style: none;
      a {
        display: flex;
        flex: 1;
        align-items: center;
        gap: 1em;
        img {
          border: 1px solid #ddd;
        }
      }
      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }
}
.title {
  margin-bottom: 20px;
}

.publishedAt {
  margin-bottom: 40px;
}

.post {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}
